<html>
<head>
</head>
<body>
<form action="httprdesmongo/tst/1" method="get">
    <input type="submit" value="Submit">
</form>
<form action="httprdesmongo/tst" method="post">
id:<input type="text" name="id" /><br/>
name:<input type="text" name="name" /><br/>
<input type="submit" value="Submit">
</form>
<form action="httprdesmongo/tst/1" method="put">
    name:<input type="text" name="name" /><br/>
    <input type="submit" value="Submit">
</form>
<form action="httprdesmongo/tst/1" method="delete">
    <input type="submit" value="Submit">
</form>
</body>
</html>